{% extends "base.html" %}


{% block main_content %}
	<div class="main">
		<div class="main_h1">Add Documents</div>
		<div class="clearer"></div>		
		
		<form action="." method="POST" enctype="multipart/form-data">{%csrf_token%}
			<div class="form_error">{{form.attached_file.errors.as_text}}</div>
			<div class="form_label">Attached file:</div><div class="form_element">{{ form.attached_file }}</div>
			<div class="form_label">Description:</div><div class="form_element">{{ form.description }}</div>
			<div class="form_label">Applies to:</div><div class="form_element">{{ form.homework }}</div>
			<div class="form_label">Subject:</div><div class="form_element">{{ form.subject}}</div>
			<div class="form_input"> 
				<input type="submit" value="Add">
				<input type="button" value="Cancel" onclick="location.href='/{{class_url}}/documents/'">
			</div>
		</form>


	</div>

{% endblock %}
