{% extends "base.html" %}



{% block main_content %}
	<div class="main">
		<div h1>Documents</dh1>
		{% if user.is_staff%}
			<a href="/{{klass}}/documents/add/"><div class="add_main_button"></div></a>
		{% endif %}
		<div class="clearer"></div>		
		
		{% for subject in subject_list %}
		    <div class="doclink_subject">{{subject}}</div>
		    {% for document in document_list %}
		        {% ifequal document.subject subject %}
				    <div class="doclink">
				        <a href="{{document.attached_file.url}}">{{document.filename}}
				        {%if document.description %}
					        - {{document.description}}
				        {%endif%}
				    </a></div>
				    <div class="doclink_homework">
				        {% if document.homework %}
					        for {{document.homework}}
				        {% endif %}
				    </div>
                        {% if user.is_staff %}
                            <div class="doclink_change"><a href="modify/{{document.id}}">Edit</a></div>
                        {% endif %}
			    {% endifequal %}
			    <div class="clearer"></div>	
		    {%endfor%}
		{%endfor%}

	</div>

{% endblock %}
