{% extends "base.html" %}

{% block main_content %}
	<h1>Initialize Website</h1>

    <h2>Teachers</h2>
    <a href="/initialize/staff">Add A Staff Member</a><br>
    {% for s in staff_list %}
        {{s.teacher_name}}<br>
    {% endfor %}
    
    <h2>Classes</h2>
    <a href="/initialize/klass">Add A Class</a><br>
    {% for k, t in klass_list %}
        {{k.klass_name}} - {{t}} <img src="{{MEDIA_URL}}{{k.banner}}" height="15%" width="30%"><br>
    {% endfor %}
    
    <h2>Kalendar</h2>
    <a href="/initialize/kalendar">Create the Calendar</a><br>
    {{kalendar}}

    
{% endblock %}
