<!DOCTYPE html>
<html>
	<head>
		<title>Login to KKSA.ca</title>
		<link rel="stylesheet" href="{{STATIC_URL}}lib/styles.css" />
		<script type="text/javascript" src="{{STATIC_URL}}lib/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}lib/jquery-ui-1.10.3.custom.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}lib/jquery.timer.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}lib/scripts.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400' rel='stylesheet' type='text/css' />
	</head>
	<body>
		<div id="container">
			<div id="login">
				<h1>Login</h1>
				<form method="post" action="">{%csrf_token%}
					<label>Username:</label>
					<input style="margin: 3px auto; text-align: left;" id="username" type="text" name="username">
					<label>Password:</label>
					<input style="margin: 3px auto; text-align: left;" id="password" type="password" name="password">
					<input type="submit" value="Login">

					{% if reg_status%}
					    <input type="button" value="Register" onClick="location.href='/registration/newuser';">
					{% endif %}
					<input type="hidden" name="next" value={{ next }} />
				</form>
			</div>
		</div>
	</body>
</html>