<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>
		<link rel="stylesheet" href="lib/styles.css" />
		<script type="text/javascript" src="lib/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="lib/jquery-ui-1.10.3.custom.min.js"></script>
		<script type="text/javascript" src="lib/jquery.timer.js"></script>
		<script type="text/javascript" src="lib/scripts.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400' rel='stylesheet' type='text/css' />
	</head>
	<body>
		<div id="container">
			<div id="register">
				<h1>Register</h1>
				<form method="post" action="">
					<!-- PlaceHolder is a new attribute that displays text in a input field before a user begins to type in it. -->
					<!-- <label> is a new element that is placed about an input field to label it. -->
					<label>First Name:</label>
					<input style="margin: 3px auto; text-align: center;" placeholder="John" type="text" name="first_name">
					<label>Last Name:</label>
					<input style="margin: 3px auto; text-align: center;" placeholder="Smith" type="text" name="last_name">
					<label>Email:</label>
					<input style="margin: 3px auto; text-align: center;" placeholder="email@example.com" type="text" name="email">
					<label>Password:</label>
					<input style="margin: 3px auto; text-align: center;" type="text" name="pswd">
					<label>Repeat Password:</label>
					<input style="margin: 3px auto; text-align: center;" type="password" name="pswd">
					<input type="submit" value="Register">
				</form>
			</div>
		</div>
	</body>
</html>