<!DOCTYPE html>
<html>
	<head>
		<title>Login to {{school_name}}</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'lib/styles.css' %}" />
		<script type="text/javascript" src="{% static 'lib/jquery-1.10.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/jquery-ui-1.10.3.custom.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/jquery.timer.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/scripts.js' %}"></script>
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400' rel='stylesheet' type='text/css' />
	</head>
	<body>
		<div id="container">
			<div id="register">
			    <h1>Welcome to {{school_name|upper}}'s Website</h1>
	
                <p>Your username is: {{user.username}}</p>

                <p>Make sure you remember your username and your password. </p>
                
                <div class="form_input"> 
				    <input type="button" value="Get Started" onclick="location.href='/'">
			    </div>
			</div>
		</div>
	</body>
</html>



