{% extends "schoolpage/index.html" %}

{% block main_content %}

	<div class="main">
		<h1">Add Message</h1>
		<div class="clearer"></div>		
		
		<div class='form_error'>{{form.message.errors.as_text}}</div>

		<form action="{% url 'schoolpage-create-view' %}" method="POST" enctype="multipart/form-data">{%csrf_token%}
			{{form.as_p}}
			<div class="form_input"> 
				<input type="submit" value="Add">
				<input type="button" value="Cancel" onclick="location.href='/'">
			</div>
		</form>
	</div>

{% endblock %}
