<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to KKSA.ca!</title>
		<link rel="stylesheet" href="{{STATIC_URL}}lib/index_styles.css" />
		<script type="text/javascript" src="{{STATIC_URL}}lib/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}lib/jquery-ui-1.10.3.custom.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}lib/jquery.timer.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}lib/scripts.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400' rel='stylesheet' type='text/css' />
	</head>
	<body>
		<div id="side_bar">
			<h2>Navigation</h2>
			<h3>Classes:</h3>
			<ul>
				{% for k in klass_list %}
				    <li><a href="{{k.klass_name}}">{{k.klass_name}}</a></li>
				{% endfor %}
			</ul>
			<h3>References:</h3>
			<ul>
				<li><a href="http://schoolweb.tdsb.on.ca/karenkain/Home.aspx">About KKSA</a></li>
			</ul>
		</div>
		<div id="container">
			<!-- The div below should only be visible when a user is logged in, and the add button <div> in this <div> should only be visible if the user is a Staff so they can post on the front page. -->
			<div id="account">
		        {% if user.is_authenticated %}
		            Hi
       		        {%if user.kksa_staff %}
                        {{user.kksa_staff.teacher_name }}
                        <a href="add/"><div class="add_button"></div></a>
            	    {%elif user.first_name %}
                        {{ user.first_name }}
            	    {%else%}
            			{{ user.username }}
            		{%endif%}
            		welcome to KKSA! - 
       		         <a href="/registration/logout/">Logout</a>
                {% else %}
            	    Welcome to KKSA! - <a href="/registration/login/?next={{next}}">Login</a>
                {% endif %} 			

			</div>

			<div id="content">
				{% block main_content %}{% endblock %}
			</div>
			<div id="to_top"></div>

			<ul id="posts">
                {% for entry in schoolpage_list %}
				<li class="post">
					<span>{{entry.message}}</span>
					<br>
					<span class="date">
                        {{entry.date|date:"F j, Y"}} - 
                        {{entry.entered_by.kksa_staff.teacher_name}}
			            {% ifequal entry.entered_by user %}
			                <a href="modify/{{entry.id}}">Edit</a>
			            {% endifequal %}
					</span>
				</li>
				{%endfor%}
			</ul>
			
			

			
			<div id="footer">
				<span class="credit1"><a href='http://sasha.yaro.cc' target='_blank'>Design and Development: Sasha Y.</a></span>
				<span class="credit2">Django Web Development: S. Sanyal</span>
			</div>
		</div>
	</body>
</html>
