{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>KKSA</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  
    <body>
    <!-- Navbar -->
    <nav class="navbar navbar-default" navbar-fixed-top">
        <div class="container">
            <div class="navbar=header">
                <p class="navbar-text navbar-left">
                {% if user.is_authenticated %}      
                    
                    Hi
                    {%if user.school_staff %}
                        {{user.school_staff.teacher_name }}
                    {%elif user.first_name %}
                        {{ user.first_name }}
                    {%else%}
                        {{ user.username }}
                    {%endif%}
                    welcome to KKSA.ca! </p>
                    <a href="/logout/" type="button" class="btn btn-default navbar-btn navbar-right">Sign out</a>
                {% else %}
                    Welcome to KKSA.ca! </p>
                   <a href="/login/" type="button" class="btn btn-default navbar-btn navbar-right">Sign in</a>
                {% endif %} 	
        </div><!-- End of Container-->
    </nav> <!-- Makes navbars accessible for assistive technology -->

    
    <!-- Main page -->
    <div class="container">
        <div class="row">
            <!-- Left, Navigation Panel -->
            <div class="col-md-9">
                 <div class="jumbotron">
                    <h1> Karen Kain School of the Arts.</h1>
                </div>
                {% if perms.schoolpage.add_schoolpage %}
            		<a href="add/" class="btn btn-lg btn-block btn-default" aria-label="Add Message">
            		    <span class="glyphicon glyphicon-plus"></span> Message
            		</a>
            		<br>
            	{% endif %}
                {% for entry in schoolpage_list %}
					<p>{{entry.message}}
					<br>
                    <small>{{entry.date|date:"F j, Y"}} - 
                        {{entry.entered_by.school_staff.teacher_name}}
			            {% ifequal entry.entered_by user %}
			                <a href="modify/{{entry.id}}">Edit</a>
			            {% endifequal %}
			        </small></p>
			        <br>
				{%endfor%}
            </div><!-- End Left, Navigation Panel -->
            
            <!-- Right, Main Panel -->
                <div class="col-md-3">
                    <h3 class="text-center">Classes</h3>
                    {% for klass in klass_list %}
                        <a class="btn btn-lg btn-block btn-primary" href="{{klass.url}}" role="button">{{klass.name}}</a>
                    {% endfor %}
            </div><!-- End Right, Main Panel -->
        </div>
    </div><!-- End of Container-->
        <!-- Footer -->   
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text navbar-right">Developed by S. Sanyal using Django and Bootstrap </p>
        </div>
    </nav>
    
    
    
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
    </body>




</html>
