{% extends "base.html" %}

{% block main_content %}
LINKS AND DOCS STILL NOT UPDATED

	<!-- fix look of add button -->

		<h1>Homework</h1>
		<a href="/{{klass.klass_name}}/homework/add/"><div class="add_main_button"></div></a>
		<div class="clearer"></div>
		
		{% for hwk_details in hwk_details_list %}
			
			<!-- prints date -->
			{% ifchanged hwk_details.due_date.date %}
				<div class="hwk_date">{{hwk_details.due_date.date|date:"l F jS"}} - Day {{hwk_details.due_date.day_no}}</div> 
			{% endifchanged %}			
			
			<!-- prints homework either regular or cut through for deleted -->
			{% if not hwk_details.deleted %}
				<a href="/{{klass.klass_name}}{{hwk_details.hwk.get_absolute_url}}"><div class="hwk_text">{{hwk_details.hwk.subject}}: {{hwk_details.hwk.assigned_work}}</div></a>
			{% endif %}
			{% if hwk_details.deleted %}
				<a href="/{{klass.klass_name}}{{hwk_details.hwk.get_absolute_url}}"><div class="hwk_del_text">{{hwk_details.hwk.subject}}: {{hwk_details.hwk.assigned_work}}</div></a>
			{% endif %}


<!-- don't need to double up just need to add spans -->

<!-- Add following as built on to -->
			<!--prints link to messages -->

			{% if not homework.deleted %}
				{% for topic in homework.topic_set.all %}
					{% ifchanged homework %}
						<div class="hwk_doc_label">Messages:</div>						
						<a href="/{{klass.klass_name}}/messages/{{topic.id}}/messages">
							<div class="hwk_doc">There {{topic.msg_set.count|pluralize:'is,are'}} {{topic.msg_set.count}} message{{topic.msg_set.count|pluralize}}.</div>	
							<div class="hwk_doc">Last message entered {{topic.last_msg|timesince}} ago.</div>
						</a>
					{% endifchanged %}	
				{%endfor%}
			{% endif %}
	
			{% if homework.deleted %}
				{% for topic in homework.topic_set.all %}
					{% ifchanged homework %}
						<div class="hwk_del_doc_label">Messages:</div>						
						<a href="/{{klass.klass_name}}/messages/{{topic.id}}/messages">
								<div class="hwk_del_doc">There {{topic.msg_set.count|pluralize:'is,are'}} {{topic.msg_set.count}} message{{topic.msg_set.count|pluralize}}.</div>	
								<div class="hwk_del_doc">Last message entered {{topic.last_msg|timesince}} ago.</div>
							</a>
					{% endifchanged %}	
				{%endfor%}
			{% endif %}	

			<!-- prints link to documents -->
			
			{% if not homework.deleted %}
				{% for documents in homework.document_set.all %}
					{% ifchanged homework %}
						<div class="hwk_doc_label">Related documents:</div>
					{% endifchanged %}
					<a href="{{documents.attached_file.url}}"><div class="hwk_doc">{{documents.filename}}
						{% if documents.description %}
							- {{documents.description}}
						{% endif %}
					</div></a>
				{%endfor%}
			{% endif %}
			
			{% if homework.deleted %}
				{% for documents in homework.document_set.all %}
					{% ifchanged homework %}
						<div class="hwk_del_doc_label">Related documents:</div>
					{% endifchanged %}
					<a href="/{{klass.klass_name}}/documents/"><div class="hwk_del_doc">{{documents.filename}}
						{% if documents.description %}
							- {{documents.description}}
						{% endif %}
					</div></a>
				{%endfor%}
			{% endif %}			
			
			<!-- prints link to links -->

			{% if not homework.deleted %}
				{% for link in homework.link_set.all %}
					{% ifchanged homework %}
						<div class="hwk_doc_label">Related links:</div>
					{% endifchanged %}
					<a href="{{link.link}}"><div class="hwk_doc">{{link.description}}</div></a>
				{%endfor%}
			{% endif %}
			
			{% if homework.deleted %}
				{% for link in homework.link_set.all %}
					{% ifchanged homework %}
						<div class="hwk_del_doc_label">Related links:</div>
					{% endifchanged %}
					<a href="{{link.link}}"><div class="hwk_del_doc">{{link.description}}</div></a>
				{%endfor%}
			{% endif %}		



			<!-- prints author info -->
                <div class="author_text">
                    {% if hwk_details.hwk.entered_by.kksa_staff %}
                        Added by:{% firstof hwk_details.hwk.entered_by.kksa_staff.teacher_name hwk_details.hwk.entered_by.username %} on {{hwk_details.hwk.entered_on|date:"N jS"}}
                    {% else %}
                        Added by:{% firstof hwk_details.hwk.entered_by.first_name hwk_details.hwk.entered_by.username %} on {{hwk_details.hwk.entered_on|date:"N jS"}}
                    {% endif %}       
                    {% if hwk_details.deleted %}
                        {% if hwk_details.modified_by.kksa_staff %}                    
                            Deleted by:{% firstof hwk_details.modified_by.kksa_staff.teacher_name hwk_details.modified_by.username %} on  {{hwk_details.modified_on|date:"N jS"}}	
                        {% else %}
                            Deleted by:{% firstof hwk_details.modified_by.first_name hwk_details.modified_by.username %} on  {{hwk_details.modified_on|date:"N jS"}}	
                        {%endif%}
                    {% endif %}
                    {% if hwk_details.modified_by and not hwk_details.deleted %}
                        {% if hwk_details.modified_by.kksa_staff %}                     
                            Modified by:{% firstof hwk_details.modified_by.kksa_staff.teacher_name hwk_details.modified_by.username %} on {{hwk_details.modified_on|date:"N jS"}}	
                        {% else %}
                            Modified by:{% firstof hwk_details.modified_by.first_name hwk_details.modified_by.username %} on {{hwk_details.modified_on|date:"N jS"}}	
                        {% endif %}
                    {% endif %}
                </div>
		
		{% endfor %}

		<div class="hwk_footnote">To Add: Click on +.  To Modify: Click on the homework you would like to change</div>	
		<!--
		<div class="hwk_footnote">
			<a href="http://sudeepsanyal.webfactional.com/homework/feed/"><img src="{{STATIC_URL}}valid-rss-rogers.png" alt="[Valid RSS]" title="Validate my RSS feed" /></a>
			Subscribe to the Homework RSS Feed to receive updates when homework is added.
		</div>	-->
	</div>
	
	

{% endblock %}



