{% extends "base.html" %}


{% block main_content %}

	<div class="main">
		<div class="main_h1">Modify Homework</div>
		<div class="clearer"></div>		

		<form action"." method="POST">{%csrf_token%}

		<div class="form_error">{{form.assigned_work.errors.as_text}}</div>
		<div class="form_error">{{form.due_date.errors.as_text}}</div>
		<div class="form_error">{{form.class_db.errors.as_text}}</div>
		<div class="form_error">{{form.non_field_errors.as_text}}</div>

		<form action"." method="POST">{%csrf_token%}		
			<div class="form_label">Subject:</div><div class="form_element">{{ form.subject }}</div>
			<div class="form_label">Assigned Work:</div><div class="form_element">{{ form.assigned_work }}</div>
			<div class="form_label">Due Date:</div><div class="form_element">{{ form.due_date }}</div>
<!--			{% if form.class_db %}
			    <div class="form_label">Classes:</div><div class="form_element">{{ form.class_db}}</div>
			{% endif %} -->
			<div class="form_input"> 
					<input type="submit" name="mod/del" value="Modify">
					<input type="submit" name="mod/del" value="Delete">
					<input type="button" value="Cancel" onclick="location.href='/{{class_url}}/homework/'">
			</div>
		
		
		
		</form>
	</div>

{% endblock %}
