{% extends "base.html" %}


{% block main_content %}
    
    <h1>Add Event</h1>
    <h2>{{ event_date|date:"M j Y" }}</h2>
  		<form action"." method="POST">{%csrf_token%}
			<div class="errors">
				{{form.event_date.errors}}
				{{form.errors}}
			</div>
			{{form.as_p}}		
			<div class="form_input">
				<input type="submit" value="Add">
				<input type="button" value="Cancel" onclick="location.href='/{{klass.klass_name}}/calendar/{{kal_type}}'">
			</div>
		</form>  

{% endblock %}

