{% extends "base.html" %}

{% block main_content %}

<div class="kalendar_main">
	{%ifequal kal_type 'kksa'%}
	    <h1>KKSA Calendar</h1>
	{% else %}
	    <h1>{{klass.klass_name}} Calendar</h1>
	{% endifequal %}

		{%for k,det in combo_list%}
			<!-- month name, arrows, day names -->
			{%if forloop.first%}
				
				<!-- Navigating of Month Arrows etc -->
				{%ifnotequal viewing_date.month firstest_date.month%}
					{% if viewing_date.month != 1 %}
					    <a href="/{{klass.klass_name}}/calendar/{{kal_type}}/{{viewing_date.year}}/{{viewing_date.month|add:'-1'}}">
					{% else %}
					    <a href="/{{klass.klass_name}}/calendar/{{kal_type}}/{{viewing_date.year|add:'-1'}}/12">
					{% endif %}					
					<div class="kal_left_arrow"></div>
					</a>
				{%else%}
					<div class="kal_no_arrow"></div>
				{%endifnotequal%}
                <!-- end of front arrow -->
                
                <!-- puts the name of the month -->				
				<div class="kal_month">{{viewing_date|date:"F"}}</div>

                <!--after arrow -->				
				<!-- arrows don't work if first month is same as last month because doesn't check for year -->
				{%ifnotequal viewing_date.month lastest_date.month%}			
					{% if viewing_date.month != 12 %}
					    <a href="/{{klass.klass_name}}/calendar/{{kal_type}}/{{viewing_date.year}}/{{viewing_date.month|add:'1'}}">
					{% else %}
					    <a href="/{{klass.klass_name}}/calendar/{{kal_type}}/{{viewing_date.year|add:'1'}}/1">
					{% endif %}
					<div class="kal_right_arrow"></div>
					</a>
				{%else%}
					<div class="kal_no_arrow"></div>
				{%endifnotequal%}
                <!-- end of back arrow -->				
				<div class="clearer"></div>
				
				<div class="kal_day_label">Monday</div>
				<div class="kal_day_label">Tuesday</div>
				<div class="kal_day_label">Wednesday</div>
				<div class="kal_day_label">Thursday</div>
				<div class="kal_day_label">Friday</div>
				
	


            <!-- the actual kalendar -->
			
                {%for i in insert_counter %}
                    <div class="kal_blank_day_block"></div>
                {%endfor%}
            {%endif%}
            
			<div class="kal_day_block">
			{%ifequal viewing_date.month k.date.month%}

            <!-- events and dates links and permissions-->
<!-- Will have to check if Permissions work? NEED TO CHANGE PERMISSIONS-->

				<!-- Day Number -->
				{% if perms.classlists.is_kksastaff %}
					<a href="/{{klass.klass_name}}/calendar/{{kal_type}}/add_event/{{k.date.year}}/{{k.date.month}}/{{k.date.day}}">
					    <div class="kal_date">{{k.date|date:"j"}}
					</a>	
					{%if user.is_superuser%}
					    <a href="/{{klass.klass_name}}/calendar/{{kal_type}}/modify/{{k.id}}/">
						    <div class="kal_day_no">({{k.day_no}})</div>
					    </a>
					{% else %}
					    <div class="kal_day_no">({{k.day_no}})</div>
					{% endif %}
						
				{%else %}
					<div class="kal_date">{{k.date|date:"j"}}
					<div class="kal_day_no">({{k.day_no}})</div>
				{%endif%}

				</div>
				<!-- Events -->				
				<div class="kal_entries">	
					<!-- class calendar -->
					{%ifnotequal kal_type 'kksa' %}
					    {% for e in k.event_set.all %}
					        {% if klass in e.klass.all %}
						        {% if perms.classlists.is_kksastaff %}
						            <a href="/{{klass.klass_name}}/calendar/{{kal_type}}/modify_event/{{e.id}}/">{{e.description}}<br></a>
						        {%else%}
						            {{e.description}}<br>
						        {%endif%}
					        {%endif%}
					    {% endfor %}
					<!-- kksa calendar -->
					{%else%}
						{% for e in k.event_set.all %}
					        {% if e.kksa %}
						        {% if perms.classlists.is_kksastaff %}
						            <a href="/{{klass.klass_name}}/calendar/{{kal_type}}/modify_event/{{e.id}}/">{{e.description}}<br></a>
						        {%else%}
						            {{e.description}}<br>
						        {%endif%}
					        {%endif%}
					    {% endfor %}
					{%endifnotequal%}

				<!-- End of Events -->		    
				<!-- Homework -->	
				{%ifnotequal kal_type 'kksa' %}    			
					{% for d in det %}
					    <a href="/{{klass.klass_name}}/homework"/>
						    {{d.subject}}:{{d.assigned_work}}<br>
					    </a>
				    {% endfor %}
				{%endifnotequal%}
				<!-- End of homework -->	
				</div>
<!-- Will have to check if Permissions work? -->


            <!-- Kalendar days from another month -->				
			{%else%}
				<div class="kal_date_other_month">{{k.date|date:"j"}}
					<div class="kal_day_no">({{k.day_no}})</div>
				</div>
				
				<!-- Events -->	
				<div class="kal_entries_other_month">
					{%ifnotequal kal_type 'kksa' %}
					    {% for e in k.event_set.all %}
					        {% if klass in e.klass.all %}
						        {% if perms.classlists.is_kksastaff %}
						            <a href="/{{klass.klass_name}}/calendar/{{kal_type}}/modify_event/{{e.id}}/">{{e.description}}<br></a>
						        {%else%}
						            {{e.description}}<br>
						        {%endif%}
					        {%endif%}
					    {% endfor %}
					{%else%}
						{% for e in k.event_set.all %}
					        {% if e.kksa %}
						        {% if perms.classlists.is_kksastaff %}
						            <a href="/{{klass.klass_name}}/calendar/{{kal_type}}/modify_event/{{e.id}}/">{{e.description}}<br></a>
						        {%else%}
						            {{e.description}}<br>
						        {%endif%}
					        {%endif%}
					    {% endfor %}
					{%endifnotequal%}
				<!-- End of Events -->	
				<!-- Homework -->	
					    
				{%ifnotequal kal_type 'kksa' %}    			
					{% for h in k.homework_set.all %}
					    {% if klass in h.klass.all %}
						        <a href="/{{klass.klass_name}}/homework"/>
						        {{h.hwk_details.subject}}:{{h.hwk_details.assigned_work}}<br>
						        </a>
						{% endif %}
					{%endfor%}
				{%endifnotequal%}
				<!-- End of homework -->	

				</div>
			{%endifequal%}			

			</div>
			{%ifequal k.date.weekday 4%}
				<div class="clearer"></div>				
			{%endifequal%}

		{%endfor%}

		<div class="clearer"></div>
		
</div>
		
{% endblock %}
