{% extends "base.html" %}

{% block main_content %}
	<h1>Homepage</h1>
    
    Missing add message button
    <br>
    Edit message needs to change format
    <br>
    Colour of text too light
    <br>
    More space between each entry??
    <br>
    
	<ul id="posts">
	    {% for entry in homepage_list %}
	    <li class="post">
			<span>{{entry.message}}</span><br>
            <span class="date">
                {{entry.date|date:"F j, Y"}} - 
                {{entry.entered_by.first_name}} {{entry.entered_by.last_name}}
			    {% ifequal entry.entered_by user %}
			        <a href="modify/{{entry.id}}">Edit</a>
			    {% endifequal %}
                
            </span>
        </li>
        {% endfor %}
    </ul>
<!-- 
		{% if user.is_staff %}
			<a href="add/"><div class="add_main_button"></div></a>
		{% endif %}			
			
 -->


{% endblock %}
