{% extends "base.html" %}

{% block main_content %}
	<div class="main">
		<div class="main_h1">Homepage</div>

		{% if user.is_staff %}
			<a href="add/"><div class="add_main_button"></div></a>
		{% endif %}			
		<div class="clearer"></div>	
				
		{% for entry in homepage_list %}
			<div class="main_p">{{entry.message}}</div>
			<div class="main_author">{{entry.date|date:"F j, Y"}} - 
			    {{entry.entered_by.first_name}} {{entry.entered_by.last_name}}</div>
			    {% ifequal entry.entered_by user %}
			        <div class="main_change"><a href="modify/{{entry.id}}">Edit</a></div>
			    {% endifequal %}
			<div class="clearer"></div>	

			<br>
		{% endfor %}

	</div>

{% endblock %}

