{% extends "base.html" %}


{% block main_content %}
	<div class="main">
		<h1>Links</h1>
        {% if perms.links.add_link %}
			<a href="{%url 'link-create-view' klass.name %}"><div class="add_main_button"></div></a>
		{% endif %}
		<div class="clearer"></div>		
		
            {% for link in link_list %}
		        {% ifchanged link.subject %}
		            <br>
		            <div class="doclink_subject">{{link.subject}}</div>
		        {% endifchanged %}
                        <div class="doclink">
                            <a href="{{link.link}}">{{link.description}}
                        </a></div>
                        <div class="doclink_homework">    
                            {% if link.homework %}
                                for {{link.homework.work}}
                            {% endif %}
                        </div>
                        {% if perms.links.add_link %}
                            <div class="doclink_change"><a href="{%url 'link-update-view' klass.name link.id %}">Edit</a></div>
                        {% endif %}
            <div class="clearer"></div>	
            {%endfor%}
	</div>

{% endblock %}
