{% extends "base.html" %}


{% block main_content %}
	<div class="main">
		<h1>Links</h1>
        {% if perms.classlists.is_kksastaff %}
			<a href="/{{klass.klass_name}}/links/add/"><div class="add_main_button"></div></a>
		{% endif %}
		<div class="clearer"></div>		
		

            {% for l,d in combo_list %}
		        {% ifchanged l.subject %}
		            <br>
		            <div class="doclink_subject">{{l.subject}}</div>
		        {% endifchanged %}
                        <div class="doclink">
                            <a href="{{l.link}}">{{l.description}}
                        </a></div>
                        <div class="doclink_homework">    
                            {% if d %}
                                for {{d.assigned_work}}
                            {% endif %}
                        </div>
                        {% if perms.classlists.is_kksastaff %}
                            <div class="doclink_change"><a href="modify/{{l.id}}">Edit</a></div>
                        {% endif %}
            <div class="clearer"></div>	
            {%endfor%}
	</div>

{% endblock %}
