{% extends "base.html" %}


{% block main_content %}
	<div class="main">
		<div class="main_h1">Links</div>
		{% if user.is_staff%}
			<a href="/{{class_url}}/links/add/"><div class="add_main_button"></div></a>
		{% endif %}
		<div class="clearer"></div>		
		
		{% for subject in subject_list %}
		    <div class="doclink_subject">{{subject}}</div>
            {% for link in link_list %}
                {% ifequal link.subject subject %}

                        <div class="doclink">
                            <a href="{{link.link}}">{{link.description}}
                        </a></div>
                        <div class="doclink_homework">    
                            {% if link.homework %}
                                for
                                {{link.homework}}
                            {% endif %}
                        </div>
                        {% if user.is_staff %}
                            <div class="doclink_change"><a href="modify/{{link.id}}">Edit</a></div>
                        {% endif %}
                {%endifequal%}
            <div class="clearer"></div>	
            {%endfor%}
		{%endfor%}
	</div>

{% endblock %}

