<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css">   
</head>

<body>    
    <div id="wrapper">
        
    <div id="container">
       	<!-- start of banner -->
       	    <div id="title_nobanner">
       	    <div id="title_h1">Oops</div>
       	

        </div> 
        <!-- end of banner -->

        
        
        <div id="columns">
			<!--Main Block-->
	        <div class="main">
                <div class="main_h1">If you see this can you tell Mr. Sanyal. Oh and what did you do when you saw this.</div>
        </div><!-- columns end -->
     
    </div><!-- container end -->
   
	</div><!-- wrapper end -->
</body>