<!DOCTYPE html>
<html>
	<head>
		<title>KKSA {{klass.klass_name|upper}}</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}lib/styles.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery-ui-1.10.3.custom.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery.timer.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}lib/scripts.js"></script>
	</head>
	
	<body>
		<div id="wrapper">
			<div id="nav">
				<ul>
					<li id="current"><a href="/{{klass.klass_name}}">{{klass.klass_name|upper}}</a>
						<ul>
							<li><a href="/">KKSA</a></li>
						</ul>
					</li>
					<li><a href="homework.html">Homework</a></li>
					<li><a href="events.html">Events</a>
						<ul>
							<li><a href="schedule.html">Schedule</a></li>
							<li><a href="calendar.html">Calendar</a></li>
						</ul>
					</li>
					<li><a href="documents.html">Documents</a></li>
					<li><a href="links.html">Links</a></li>
					<li><a href="messages.html">Messages</a></li>
					<li><a href="contact.html">Contact</a></li>
					
       		        {% if user.is_authenticated %}
       		            <li class="account"><a href="logout.html">
       		                {%if user.first_name %}
            		            {{ user.first_name }} &#8260
            	            {%else%}
            			        {{ user.username }}&#8260
            			    {%endif%}
       		                Logout</a>
                    {% else %}
            	        <li class="account"><a href="login.html">Login</a>
                    {% endif %} 		
					</li>
				</ul>
			</div>
			<div id="banner">
				<div class="banner-container"><img src="{{ MEDIA_URL }}{{klass.banner}}" alt=""></div>
			</div>
			<div id="content">
				Login doesn't change to name if logged in
				<br>
				
				{% block main_content %}{% endblock %}
				
			</div>
			<div id="to_top"></div>
		</div>
	</body>
</html>