{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>KKSA {{klass.name|upper}}</title>
		
		<link rel="stylesheet" href="{% static 'lib/styles.css' %}" />
		<script type="text/javascript" src="{% static 'lib/jquery-1.11.3.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/jquery-ui-1.10.3.custom.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/jquery.timer.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/scripts.js' %}"></script>
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400' rel='stylesheet' type='text/css' />
	    {%block head_content%}{%endblock%}
	</head>

<script>
{% block script_content %}{% endblock %}

</script>

	<body>
		<div id="wrapper">
			<div id="nav">
				<ul>
					<li id="current"><a href="{%url 'schoolpage-list-view' %}">Home</a></li>
					<li><a href="{%url 'homework-list-view' klass.name %}">Homework</a></li>
					<li><a href="{%url 'kalendar-list-view' klass.name %}">Calendar</a></li>
					<li><a href="{%url 'schedule-view' klass.name %}">Schedule</a></li>
					<li><a href="{%url 'document-list-view' klass.name %}">Documents</a></li>
					<li><a href="{%url 'link-list-view' klass.name %}">Links</a></li>
					<li><a href="/{{klass.name}}/messages">Messages</a></li>
					<li><a href="/{{klass.name}}/contact">Contact</a></li>
					{% if user.is_staff %}
						<li><a href="{%url 'school-setup-view' %}">Setup</a></li>
					{%endif%}
														
       		        {% if user.is_authenticated %}
       		            <li class="account"><a href="/logout/">
       		                {%if user.school_staff %}
                                {{user.school_staff.teacher_name }} &#8260
            	            {%elif user.first_name %}
                                {{ user.first_name }} &#8260
            	            {%else%}
            			        {{ user.username }}&#8260
            			    {%endif%}
       		                Logout</a>
                    {% else %}
            	        <li class="account"><a href="/login/?next={{next}}">Login</a>
                    {% endif %} 		
					</li>
				</ul>
			</div>
			<div id="banner">
				{% if klass.banner %}
				    <div class="banner-container"><img src="{{ MEDIA_URL }}{{klass.banner}}" alt=""></div>
                {% else %}
				    <div class="banner-container"><img src="{{ MEDIA_URL }}banners/default.jpg" alt=""></div>
				{% endif %}
			</div>
			<div id="content">
				{% block main_content %}{% endblock %}
				
			</div>
			<div id="to_top"></div>
		</div>
	</body>
</html>