<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css">   
</head>

<body>    
    <div id="wrapper">
        
    <div id="container">
       	<!-- start of banner -->
       	    <div id="title_nobanner">
       	    <div id="title_h1">Class {{klass|upper}}</div>
       	    
       		{% if user.is_authenticated %}
            	<a href='/{{klass}}/registration/logout/'><div class='title_a'>Logout</div></a>
            	{%if user.first_name or user.last_name %}
            		<div class="title_b">{{ user.first_name }} {{user.last_name}}&#8260</div>
            	{%else%}
            			<div class="title_b">{{ user.username }}&#8260</div>
            	{%endif%}
 
            {% else %}
            	<a href="/{{klass}}/registration/login/"><div class="title_a">Login</div></a>
            {% endif %} 
        </div> 
        <!-- end of banner -->
          
        <div id="navigation_bar">
            <a href="/{{klass}}"><div class="navigation_a">Home</div></a>
   			<a href="/{{klass}}/calendar/"><div class="navigation_a">Calendar</div></a>
			<a href="/{{klass}}/schedule/"><div class="navigation_a">Schedule</div></a>
   			<a href="/{{klass}}/homework/"><div class="navigation_a">Homework</div></a>
            <a href="/{{klass}}/documents/"><div class="navigation_a">Documents</div></a>
            <a href="/{{klass}}/links/"><div class="navigation_a">Links</div></a>
            <a href="/{{klass}}/messages/"><div class="navigation_a">Messages</div></a>
            <a href="/{{klass}}/contact/"><div class="navigation_a">Contact</div></a>
            
        </div> <!-- end of navigation -->
        
        
        <div id="columns">
			<!--Main Block-->
			{% block main_content %}{% endblock %}
  				
        </div><!-- columns end -->
     
    </div><!-- container end -->
   
	</div><!-- wrapper end -->
</body>