<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css">   
</head>

<body>    
    <div id="wrapper">
        
    <div id="container">
       	<!-- start of banner -->
       	    <div id="title_nobanner">
       	    <div id="title_h1">Which Class?</div>
       	

        </div> 
        <!-- end of banner -->

        
        
        <div id="columns">
			<!--Main Block-->
	        <div class="main">
                <div class="main_h1">Welcome, which class would you like?</div>
                <div class="clearer"></div>	
                {% for class in classes_list %}
				    {% if forloop.first %}
					    <div id="link"><a id="a" href="/{{class}}"><div id="back"><span id="text">{{class|upper}}</span></div></a></div>
				    {% else %}
					    <div id="link"><a id="a" href="/{{class}}"><div id="back"><span id="text">{{class|upper}}</span></div></a></div>
				    {% endif %}
                {% endfor %}
        </div><!-- columns end -->
     
    </div><!-- container end -->
   
	</div><!-- wrapper end -->
</body>