{% extends "base.html" %}

{% block main_content %}
	<div class="main">
		<div class="main_h1">Create Calendar</div>
		<div class="clearer"></div>		
		
		<form action="." method="POST">{%csrf_token%}
			First Day of Calendar: {{form.first_day}}
			<br>
			Last Day of Calendar: {{form.last_day}}
			<br>
			First Day of School: {{form.first_day_school}}
			<br>
			<br>
			Warning: Creating a new calendar will erase the old one.
			<input type="submit" value="Create">
		</form>


	</div>

{% endblock %}

