{% extends "base.html" %}

{% block main_content %}

<div class="main">
		<div class="main_h1">Modify Day Number</div>
		<div class="clearer"></div>		

		<div class="errors">
			{% if form.errors %}
				{{form.errors}}<br>
			{% endif %}
		</div>

		<form action='.' method="POST">{%csrf_token%}
			{{form.date}} {{form.day_no}} {{form.class_db}}
			<input type="submit" value="Change"/>
		</form>

		
		</div>
		
{% endblock %}


<!--
<div class="kalendar_main">
		<div class="main_h1">Calendar</div>
		
		<div class="month">{{today|date:"F"}} </div>
		
		{% for week in month_calendar %}
			{% for day, event in week %}
				{% if not event %}
					<div class="day">{{day}}</div>
				{% endif %}
				{% if event %}
					<div class="day">{{day}}
					{% for e in event%}
						<span class="event">{{e}}</span>
					{% endfor%}
					</div>
				{% endif%}
		{% endfor %}
		{% endfor %}
	</div>
-->


<!--
			<div class="month">December</div>
			<div class="weekday">Monday</div>
			<div class="weekday">Tuesday</div>
			<div class="weekday">Wednesday</div>
			<div class="weekday">Thursday</div>
			<div class="weekday">Friday</div>

			{%for week in asdfkalendar%}
				{%for day in week %}
					{% ifnotequal day 0 %}
						<div class="day">{{day}}</div>
					{%else%}
						<div class="out_day"></div>
					{%endifnotequal%}
					
					
				{%endfor%}
			{%endfor%}
			


			<div class="day">1
				<div class="day_no">Day 1
					<div class="day_text">Today's homework is:<br>
					on and on<br>
					on and on<br>
					on and on<br>
					on and on<br>
					on and on<br>
					on and on<br>
					on and on<br>
				</div></div></div>
			<div class="day">2<div class="day_no">Day 2</div></div>
			<div class="day">3<div class="day_no">Day 3</div></div>
			<div class="day">4<div class="day_no">Day 4</div></div>
			<div class="day">5<div class="day_no">Day 5</div></div>	

		
 --!>